.carousel img {
  height: 500px;
  padding-bottom: 50px;
}

.instagram--image {
  word-break: break-word;
  & img {
    padding: 1em;
    &:hover {
      border: 10px solid $warning;
      padding: 0;
      transition: all ease-in-out 250ms;
    }
    max-width: 100%;
    max-height: 320px;
  }
}


