.carousel {
  & img {
    max-height: 500px;
    padding-bottom: 50px;
  }
  & .carousel-caption {
    background: rgba(0,0,0,0.75);
    width: 800px;
    margin-left: -1px;

  }
}
.figure-caption {
  text-align: left;
}
.instagram--image {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  & img {
    padding: 1em;
    &:hover {
      border: 10px solid $warning;
      padding: 0;
      transition: all ease-in-out 250ms;
    }
    max-width: 100%;
    max-height: 320px;
  }
}


