// Override default variables before the import
$body-bg: #000;
$body-text-color: #fff;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body{
  color: $white;
}
section {
  padding-top: 60px;
}

.carousel img {
  height: 500px;
  padding-bottom: 50px;
}

.instagram--image {
  padding: 1em;
  &:hover {
    padding: 0;
    transition: all ease-in-out 250ms;
  }
  & img {
    max-width: 100%;
    min-height: 100%;

   }
}